.nav {
    background-color: black;
    height: 100px;
    color: wheat;
    font-size: 27px;
    display: flex;
    justify-content: space-between;
}

.header{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 25px;
    font-weight: bold;
}
.container{
display: flex;
}

.search{
    margin: 27px 80px;
}